.grid-wrapper {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6;

    // Max number of cols
    &.max-cols-3 {
        @apply xl:grid-cols-3;
        @apply w-full xl:w-3/4 2xl:w-1/2;
    }

    &.max-cols-4 {
        @apply xl:grid-cols-4;
    }
}

.content-box-flexible {

    // General
    &:not(.no-box) {
        padding: 24px;
        @apply bg-gray-800 rounded-lg shadow-md;
    }

    // Width
    &.col-span-1 {
        width: 100%;
    }

    // Colored boxes
    &.box-green {
        background-color: var(--lightGreen);
    }

    // Very custom
    &.center-300 {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        @apply text-3xl font-bold;
    }

    // Children
    .box-title-with-icon {
        margin-bottom: 16px;
        @apply w-full flex items-center;
    }

    .box-title-icon,
    .box-title {
        @apply text-orange-500;
    }

    .box-title-icon {
        height: 23px;
        margin-right: 8px;
        @apply float-left;
    }

    .box-title {
        font-size: 1.125rem;
        line-height: 1.35rem;
        @apply font-semibold;
    }
}