@mixin hashtag {
    color: #424242;
    font-style: italic;
    font-size: 1.5rem;
}

.page-wrapper {
    width: 100%;
    height: auto;
    --spaceBg: #edeff1;
    --channelBg: #fcfcfc;
    --headerH: 60px;

    .card-wrapper h1 {
        margin: 10px;
        font-family: 'Courier New';
        font-weight: bold;
        font-size: 1.2rem;
    }

    .sidepanel-wrapper {
        width: 60px;
        height: 100vh;
        float: left;
        background-color: #dadce1;

        .sidepanel-header {
            width: 100%;
            height: auto;

            #logo,
            #logo-text {
                display: block;
                float: left;
            }

            #logo {
                margin: 10px;
            }

            #logo-text {
                color: orange;
                font-family: 'Courier New';
                font-size: .9rem;
                font-weight: 700;
                width: 100%;
                text-align: center;
            }
        }
    }

    .left-side {
        order: 1;
    }

    .right-side {
        margin-left: auto;
        order: 2;
    }

    .space-wrapper {
        width: calc(25% - 60px);
        height: 100vh;
        float: left;
        background-color: var(--spaceBg);

        .space-header {
            width: 100%;
            height: var(--headerH);
            padding: 0 10px;
            display: flex;
            align-items: center;
            background-color: var(--spaceBg);
            border-bottom: 2px #dbdddf solid;

            .space-title {
                font-weight: 700;
            }
        }

        .space-content {
            width: 100%;
            padding: 10px;
            height: calc(100vh - var(--headerH));

            .space-search {
                width: calc(100% - 20px);
                margin: 10px;
                padding-bottom: 20px;
                border-bottom: 2px #dbdddf solid;

                .space-search-field {
                    width: 100%;
                    height: 24px;
                    font-size: 1.1rem;
                    padding-left: 30px;
                    background: none;
                    background-image: url("../../Assets/Images/magnifying-glass-solid.png");
                    background-repeat: no-repeat;
                    background-size: 24px;
                    outline: none;
                    display: block !important;

                    div {
                        border: 0;
                    }

                    fieldset {
                        display: none;
                    }

                    input[placeholder="Search"] {
                        padding: 0;
                        border: 0;
                    }
                }
            }

            .channel-format,
            .channel-info {
                width: calc(100% - 20px);
                margin: 10px;

                .channel-format-top,
                .channel-info-top {
                    display: flex;
                    font-weight: 700;
                    color: #585858;
                    text-transform: uppercase;

                    .left-side {
                        font-size: .8rem;
                    }

                    &.members .channel-info-settings {
                        display: block;
                        width: 15px;
                        height: 15px;
                        background: none;
                        background-image: url("../../Assets/Images/spaceMembersSettings.png");
                        background-repeat: no-repeat;
                        background-size: 15px;
                    }
                }
            }

            .channel-format-list-item {
                display: flex;
                align-items: center;
                width: 100%;
                height: 32px;
                padding-left: 10px;
                border-radius: 8px;
                color: #585858;
                font-size: .9rem;
                font-weight: 700;

                &::before {
                    content: "#";
                    @include hashtag;
                    color: #585858;
                    margin-right: 10px;
                }

                &:nth-child(1) {
                    background-color: #c3c5c7;
                }
            }
        }
    }

    .channel-wrapper {
        width: 75%;
        height: 100vh;
        background-color: var(--channelBg);
        float: right;

        .channel-header {
            width: 100%;
            height: var(--headerH);
            display: flex;
            align-items: center;
            padding: 0 10px;
            background-color: var(--channelBg);
            border-bottom: 2px #dedede solid;
            position: relative;

            .left-side {
                display: flex;
                align-items: center;

                .hashtag {
                    @include hashtag;
                    margin-right: 10px;
                }

                .channel-name {
                    font-weight: bold;
                    font-size: .9rem;
                }
            }

            .right-side {
                background-color: rgb(105, 186, 105);
                color: white;
                padding: 5px;
                font-size: .9rem;
            }
        }

        .channel-content {
            width: 100%;
            padding: 10px;
            height: calc(100vh - var(--headerH));
            position: relative;
        }
    }

    dialog.dialog-box {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: calc(-200px / 2);
        margin-left: calc(-550px / 2);
        width: 550px;
        height: 200px;
        padding: 10px;

        &[open] {
            display: flex;
        }

        .dialog-inner {
            position: relative;
            width: 100%;
            padding-bottom: 40px;
            
            .dialog-top {
                display: flex;
                margin-bottom: 10px;

                h2.dialog-title {
                    order: 1;
                    font-size: 1.2rem;
                }

                .dialog-close-button {
                    order: 2;
                    margin-left: auto;
                    min-width: 0 !important;
                    width: auto !important;
                    padding: 0 !important;
                    color: black;
                    font-size: 1.2rem;
                }
            }

            .dialog-edit-message-submit {
                float: right;
                position: absolute;
                top: auto;
                bottom: 0;
                left: auto;
                right: 0;
            }
        }
    }
}